<body>
    <Div Align="center">
    <font size="+3" face="ＭＳ Ｐ明朝,ＭＳ 明朝"><i><b>ディスコ元年</b></i></font><br>
    <br>
    <img src="anison.gif">
    <br><br><br>
    <u>2022/12/03（Sat.）17:00 〜 23:00</u><br>
    ¥2,000(+1D)<br>
    <a href="https://dj-bar-space.jimdo.com/ " target="_blank">@渋谷White Space Lab</a><br>
    <br>
    ■Guest DJ<br>
    <a href="https://twitter.com/XTAL_JP" target="_blank"><font size="+1">XTAL</a> [(((sssurrounddd))), Traks Boys]</font><br><br>
    ■Resident DJ<br>
    <a href="https://twitter.com/DiscoFirstyear" target="_blank">ディスコ元年Crew</a><br>(<a href="https://twitter.com/asazuke007" target="_blank">Ujork</a>,<a href="https://twitter.com/ReiWatanabe144" target="_blank">Rei Watanabe</a>,<a href="https://twitter.com/komashichan" target="_blank">コマシちゃん</a>)<br>
    <br>
    ■VJ<br>
    <a href="https://twitter.com/cyanism  " target="_blank">cyanism</a><br>
    <br>
    <br>
    <a href="https://twitter.com/share" class="twitter-share-button" data-text="#ディスコ元年" data-lang="ja" data-size="large" data-hashtags="ディスコ元年">ツイート</a> <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script><br>
    <br><br>
    <br>
    </Div>
    </body>
    