.body{
margin: 0;
}

.top_box{
background-color:#0000cd;
width:100%;
display: flex;
}

.top_logo{
margin-right:1%;
margin-left:3%;
}

.top_text{
color:#b0b0b0;
font-size:80%;
margin-right:3%;
margin-top:1.5%;
}

.top_cate{
color:#fff;
background-color:#0000cd;
text-align:right;
font-size:80%;
padding-bottom:7px;
width:40%;
margin:auto;
margin-right:5px;
}

.top_icon{
background-color:#0000cd;
text-align:right;
padding-top:15px;
padding-left:5px;
padding-right:14px;
}

.top_menu_wrap{
background-color:#0000cd;
padding-left:2%;
padding-right:2%;
}
.top_menu{
color:#fff;
background-color:#0000cd;
text-align: center;
font-size:65%;
padding-bottom:10px;
}

.tron{
background-color:#DDDDDD;
color:#222222;
font-size:80%;
margin-right:15%;
margin-left:15%;
}

.un{
background-color:#0000cd;
color:white;
margin-right:15%;
margin-left:15%;
padding-top:10px;
padding-bottom:10px;
text-align: left;
}

.un2{
color:#444444;
margin-right:15%;
margin-left:15%;
text-align: left;
}

.resizeimage img { width: 100%; }

.sawaranai{
position:absolute;
}